.item{
    width: 250px;
    height: 400px;
    border: 1px solid black;
    border-radius: 25px;
}
.container{
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 800px;
    width: 900px;
    margin-left: 25%;

}
.row{
    display: flex;
    flex-flow: row wrap;
}
.card{
width: calc(100%/3);
margin-top: 20px;

}