* {
    box-sizing: border-box;
}

.item {
    width: 300px;
    height: 400px;
    border: 1px solid black;
    border-radius: 25px;
    padding: 5px 5px;
    box-shadow: 8px 10px 5px gray;

}

.container {
    padding: 0 20px;
    margin-left: 25%;
    height: 800px;
    width: 900px;

}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.card {
    width: calc(100%/3);
    margin-top: 20px;
    margin-left: 2px;


}

.item img {
    width: 200px;
    height: 150px;
    margin-left: 40px;
}

.item h2 {
    text-align: center;
}

.item p {
    padding: 0 5px;
    text-align: center;
}
